<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Claim free SLP SOUR tokens">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- Social Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="The Simple Ledger Protocol SOUR Faucet" />
    <meta name="twitter:description" content="Browse and explore tokens built on top of Bitcoin Cash" />
    <meta name="twitter:image" content="https://simpleledger.info/img/social.png" />
    <meta name="twitter:image:alt" content="The Simple Ledger Protocol SOUR Faucet" />
    <meta property="og:url" content="https://simpleledger.network" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Simple Ledger Protocol Faucet" />
    <meta property="og:description" content="Claim free SOUR SLP tokens" />
    <meta property="og:image" content="" />

    <title>SOUR SLP Token Faucet</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="css/custom.css" rel="stylesheet">

    <script>
    function hideBtn() {
      document.getElementById('dice').style.display = "none";
     // window.alert('hello');
    }
    </script>
    <style>

      .sidenav a:hover {
          color: #064579;
          transform: scale(1.4);
        }
    </style>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <header class="masthead mb-auto bg-dark">
        <div class="inner">
          <h3 class="masthead-brand">SOUR SLP Faucet</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="https://keepbitcoinfree.org">Keep Bitcoin Free</a>
            <a class="nav-link" href="https://blockchain.poker/#/?affiliate=6e020cd811509f8de107e61fade998be#cash">Blockchain.poker</a>
            <a class="nav-link" href="http://sour-explorer.ddns.net">Explorer</a>
            <a class="nav-link" href="https://keepbitcoinfree.org/SOUR">Learn More</a>
          </nav>
        </div>
    </header>
    <main role="main">
      <div class="jumbotron text-center p-5">
       <a href="https://keepbitcoinfree.org/SOUR" target="_blank"> <img style="width:60%;height:60%" src="img/SOUR-long-2000-1.png" alt="SLP Faucet" /></a>

       <div class="sidenav">
   <!--   <h4 class="mb-4">Follow KeepBitcoinFree.org:</h4> -->

        <ul id="sm-links" class="nav justify-content-center">
           <li class="nav-item">
            <a href="https://memo.cash/token/6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0?for-sale" target="_blank"><img src="img/memo-m.png" alt="Memo" /></a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/sourtoken" target="_blank"><img src="img/twitter-logo.png" alt="Twitter" height="30px" width="30px" /></a>
          </li>
        <li class="nav-item">
  <a href="https://reddit.com/u/keepbitcoinfree_org" target="_blank"><img src="img/reddit-logo.png" height="30px" width="30px" alt="Reddit" /></a>
  </li>
  <li class="nav-item">
            <a href="https://t.me/sourtoken"><img src="img/telegram.png" height="30px" width="30px" alt="Telegram" /></a>
          </li>
   </ul>
</div>
  <br />
            <h1>SOUR SLP Token Faucet</h1>
            <p class="lead">Roll the dice and win up to 50 SOUR!  </p>
        <p style="text-align:left;">The SOUR token is a Simple Ledger Protocol (SLP) token built on the Bitcoin Cash, BCH, blockchain. SOUR is currently used as a tipping token to reward good content & adoption, as well as planned BCH and SLP airdrops to SOUR holders. SOUR was created as a way to give back to the community for promoting Bitcoin Cash and adoption. More use cases are currently being developed for SOUR as Bitcoin Cash and the Simple Ledger Protocol evolve.</p>
  <p class="token" style="text-align:left;"> There are 42,000,000 SOUR Tokens created in total & each one is divisible by 8 decimals or 100,000,000 SOURtoshis. That is double the total amount of Bitcoin & divisible by the same amount of Satoshis. More info can be found at <a href="https://keepbitcoinfree.org/SOUR" target="_blank"> https://keepbitcoinfree.org/SOUR </a>
<br />

<a href="https://simpleledger.info/#token/6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0" target="_blank">SOUR Token ID:
6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0</a> <br />
<a href="https://explorer.bitcoin.com/bch/tx/6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0" target="_blank">
SOUR Token Genesis Transaction on BCH Block Explorer.</a>
</p>
<p style="font-size:14pt">
  <a href="https://memo.cash/token/6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0?for-sale" target="_blank">
Faucet empty? Get more <img src="https://tokens.bch.sx/64/6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0.png" /> on Memo DEX
<img src="https://memo.cash/img/memo-logo-large.png" height="50px" width="90px" /> 
</a>
</p>


<form class="token-selector-form" action="/" method="post">

<% if(txid == null){ %>

          Get your SLP address with <a href="https://simpleledger.cash/project/badger-wallet/" target="_blank">Badger Wallet</a> or <a href="https://simpleledger.cash/project/electron-cash-slp-edition/" target="_blank">Electron Cash SLP Edition</a>.</p>
          <p>
          <input name="address" type="text" placeholder="Enter your SLP address, ex: simpleledger:qp7l6ns2g…" required>

       
          
            <br />Captcha: 

             <input style="width:300px;" placeholder="<%= captcha %>" name="captcha" type="text" />
             <input type="hidden" name="captchaQuestion"  value="<%= captcha %>" />
       
           </p>
<% } %>

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input
          id="honeypot"
          type="text"
          name="honeypot"
          tabindex="-1"
          value=""
          autocomplete="off"
        />
      </div>

<!--
 <h3>Faucet temporarily down.</h3>
  <h2><a href="https://memo.cash/token/6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0?for-sale" target="_blank">You can get SOUR on the Memo DEX </a>, try the Telegram faucet at <a href="https://t.me/SOURfaucet" target="_blank">t.me/SOURfaucet</a>, and visit us on <a href="https://memo.cash/topic/sour" target="_blank">Memo.cash</a> or <a href="https://t.me/SOURtoken" target="_blank">Telegram</a> to contribute & earn some tips on Memo!</h3>
<br /><br />
-->

<!-- <div class="custom-select">
            <select>
            <option value="">Token Selector</option>
            <option value="1">SLP Token</option>
            <option value="1">SLP Token 1</option>
            </select>
          </div>

 -->


          <% if(txid !== null){ %>
            <p>TX ID: <a target="_blank"  href="https://explorer.bitcoin.com/bch/tx/<%= txid %>"><%= txid %></a>
      </p>
          <% } %>

          <% if(error !== null){ %>
            <p style="text-shadow: #EEEE00 0 0 12px;"> <%= error %></p>
          <% } %>



   <% if(txid == null){ %>

      <button class="rollthedice" type="submit" id="dice"> <img src="https://keepbitcoinfree.org/wp-content/uploads/2019/11/dice-small.png" /> </button> <br />
            <h4>Roll the dice and win up to 50 SOUR </h4>

  <% } %>


  </p>

   <% if(randomNumber != null){ %>
          <p>
    <h4>Roll Result: </h4>

                <h2><%= randomNumber %></h2>

    <img src="http://moziru.com/images/dice-clipart-animated-gif-13.gif" />
          </p>
          <% } %>

       </form>

          <!-- end .token-selector-form -->


  <div id="featured-projects" class="container" style="margin:auto;padding:0;">
        <div class="row">
          <div class="col">
            <a href="https://blockchain.poker?tournament=8447&affiliate=6e020cd811509f8de107e61fade998be" target="_blank"> 
            <img src="https://keepbitcoinfree.org/wp-content/uploads/slp-sour-saturdays-1024x798.png" alt="Create your own SLP Faucet" class="mb-4" />
            <h4>🍋SLP SOUR Saturdays - Weekly Blockchain.poker Tournaments. </a></h4>
          </div>
          <div class="col">
             <a href="bitcoincash:qqs74sypnfjzkxeq0ltqnt76v5za02amfgg7frk99g">
<h4 class="mb-4">Donate BCH directly to SOUR Faucet</h4>
  <p class="donate"><img src="https://keepbitcoinfree.org/wp-content/uploads/2019/11/SOUR-Faucet-BCH-QR-final.png" height="250" width="250" style="padding-left:25%;padding-right:25%;" /> <br /><br /><br />
 bitcoincash:qqs74sypnfjzkxeq0ltqnt76v5za02amfgg7frk99g </p></a>
          </div>
        </div>
      </div>
      <!-- end #featured-projects -->

        <!-- end #sm-links -->

      </div>
      <!-- end .jumbotron -->

      <div class="blurb bg-secondary p-5">
        <div class="container">
          <div class="row">
            <div class="col">
             <h3>What is an SLP token?</h3>
    <div class="divider"></div>
    <p>The Simple Ledger Protocol is a simple token system for Bitcoin Cash, BCH.

Storing and managing tokens on a blockchain provides greater transparency and integrity than traditional forms of asset accounting and trading. Virtual gaming assets, licenses, digital media rights, gift cards, and company stock shares can all be tokenized. Tokens can also be traded peer-to-peer without any middleman, allowing for a new kind of decentralized digital marketplace.
<br />
Simple Ledger Protocol makes this vision a reality by providing the simplest, fastest, and most liberating token system in existence. SLP tokens can easily be created, traded, and managed on the Bitcoin Cash blockchain within seconds; costing the user only fractions of a penny for each transaction.
    </p>


     <h3>What is a faucet?</h3>
              <div class="divider"></div>
              <p>A faucet is a tool that allows users to claim a small amount of free tokens, in this case, SLP tokens. <a href="https://simpleledger.cash">Learn More.</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- end .blurb -->

      <div id="featured-projects" class="container">
        <div class="row">
          <div class="col">
            <h3>Featured</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="https://i.imgur.com/glCffjj.png" alt="Create your own SLP Faucet" class="mb-4" />
            <h4><a href="https://keepbitcoinfree.org/slp-faucet-set-up"/ target="_blank">Create your own SLP Faucet</a></h4>
            <p>Create your own SLP Faucet using Node.js and Simple Ledger's slp-faucet repository. With a faucet, you can easily distribute your tokens!</p>
          </div>
          <div class="col">
             <a href="http://smarturl.it/joinLocalBitcoin" target="_blank">
            <img src="https://keepbitcoinfree.org/wp-content/uploads/2019/08/300x300localbitcoin.png" target="_blank" alt="Logal.Bitcoin.com" class="mb-4" /></a>
            <h4><a href="http://smarturl.it/joinLocalBitcoin" target="_blank">Local.Bitcoin.com</a></h4>
            <p>Buy & Sell Bitcoin Cash, BCH, peer to peer with any payment method and no KYC.</p>
          </div>
        </div>
      </div>
      <!-- end #featured-projects -->

      <div id="banner-bottom">
        <div class="row p-5 text-center">
          <div class="col">
            <h3>Get Started with SLP Tokens</h3>
          </div>
        </div>
      </div>

    </main>

      <footer id="footer-main" class="bg-dark p-5">
        <div class="row">
          <div class="col">
            <h4>Source Code</h4>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="http://github.com/blockparty-sh/slp-explorer">SLP Explorer</a></li>
              <li><a class="text-muted" href="https://github.com/simpleledger/SLPDB">SLPDB</a></li>
              <li><a class="text-muted" href="https://github.com/fountainhead-cash/slpserve">slpserve</a></li>
              <li><a class="text-muted" href="https://github.com/fountainhead-cash/slpqueryd">slpqueryd</a></li>
              <li><a class="text-muted" href="https://github.com/simpleledger/slpjs">slpjs</a></li>
            </ul>
          </div>
          <div class="col">
            <h4>Resources</h4>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://simpleledger.cash">simpleledger.cash</a></li>
              <li><a class="text-muted" href="https://github.com/simpleledger/slp-specifications">specification</a></li>
              <li><a class="text-muted" href="https://developer.bitcoin.com/slp/">slp-sdk</a></li>
            </ul>
          </div>
          <div class="col">
            <h4>Connect</h4>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://web.telegram.org/#/im?p=@simpleledger">SimpleLedger Chat</a></li>
              <li><a class="text-muted" href="https://www.youtube.com/channel/UC_WJO3lyHAhdU6oEk0lhMLw">SimpleLedger Youtube</a></li>
              <li><a class="text-muted" href="https://twitter.com/SimpleLedger">SimpleLedger Twitter</a></li>
              <li><a class="text-muted" href="http://t.me/fountainheadcash">Fountainhead Chat</a></li>
              <div style="font-size:8pt;">*We are using cookies on this website*</div>
            </ul>
          </div>
        </div>
      </footer>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <script>
        $('button').on('click', function() {
          $(this).prop('disabled', true);
          $( "form" ).submit();
      });
      </script>
   <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>